body {
  background-image: url("http://www.transparenttextures.com/patterns/food.png");

}

.jumbotron {
  background-image: url("http://www.hotspotpizzeria.com/resources/css/background-image.jpg");
  margin-top:50px;
  text-align: center;
}

h1, #totalCost {
  text-align: center;
  font-family:fantasy;
}
.carousel-inner {
  text-align:center;
  width:1140px;
  height:360px;
}
.move-label {
  margin-top:20px;
  font-family:"Helvetica";
}

#pizza-size, #pizza-toppings1, #pizza-toppings2, #pizza-toppings3 {
  margin-top: 8px;
}

#pizza-image {
  display: none;
  text-align:center;
}

#submit-button {
  margin-top:10px;
}
